<mat-toolbar color="primary" class="mat-elevation-z8">
  <!-- <a mat-mini-fab color="warn">=</a> -->
  <!-- <span>
    <span class="material-icons">local_cafe</span>
    My Application
  </span> -->

  <a mat-button style="font-size: large;">
    <span class="material-icons">local_cafe</span>
    My Application
  </a>

  <div class="nav-items-mid">
    <a mat-button class="nav-items-mid-a">Home</a>
    <a mat-button class="nav-items-mid-a">Resources</a>
    <a mat-button class="nav-items-mid-a">About</a>
  </div>
  <div class="nav-items-last">
    <a mat-raised-button color="accent">Sign In</a>
  </div>

</mat-toolbar>

<div class="row">
  <div class="col-3">
    <app-sub-menue></app-sub-menue>
  </div>

  <div class="col-9" style="max-width: 120%;">
    <br>
    <app-main-menu></app-main-menu>
  </div>
</div>




<!-- <mat-form-field>
  <mat-select placeholder="Bill Type">
      <mat-option value="P">Personal</mat-option>
      <mat-option value="B">Business</mat-option>
  </mat-select>
</mat-form-field>  -->
